JELLYFISH_URL=ws://<ip adress>:<port number>/socket/peer/websocket
ANDROID_JELLYFISH_TOKEN=Token_for_android_generated_from_jellyfish_dashboard
ANDROID_DEVICE_NAME=Phone name
ANDROID_APP_PATH=path/to/your/repo/example/android/app/build/outputs/apk/release/app-release.apk

IOS_JELLYFISH_TOKEN=Token_for_ios_generated_from_jellyfish_dashboard
IOS_DEVICE_ID=123123123
IOS_TEAM_ID=123123123
IOS_APP_PATH=path/to/your/ipa/folder/JellyfishExample.ipa
